@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>Check out <a href="https://learn.microsoft.com/aspnet/core">for building Web apps with ASP.NET Core</a>.</p>
</div>
